<ion-content class="ion-padding backgroundImage" id="loginPage">
    <div class="showbox" *ngIf="showing === true">
        <div class="loader"> <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg> </div>
    </div>
    <ion-item class="bottomIcon"><ion-img style="width: 70%; height:auto; margin: 0 auto; padding-bottom: 50px;padding-top: 20%"
                                          src="assets/img/basis-logo.png"></ion-img></ion-item>

    <!--  <ion-img style="width: 70%; height:auto; padding-top: 30%;margin: 0 auto;" src="assets/img/AERP.png"></ion-img>-->
<!--<div *ngIf="message === true" class="alertMessage">Wrong Password, Username or Missing Connection!</div>-->
  <form (submit)="doLogin()">
      <div style="--background: transparent;--highlight-color-valid:transparent,">
          <ion-label position="fixed" style="margin-bottom: 5px; color: slategray">
            <ion-icon name="call-outline" item-start class="text-primary"></ion-icon>
              Enter Valid Mobile No
          </ion-label>
          <ion-input class="fieldInput" [(ngModel)]="loginData.username" name="username" type="number"></ion-input>
      </div>
    <div  style="--background: transparent;--highlight-color-valid:transparent">
      <ion-row >
        <ion-col>
          <ion-input class="x" #otp1 required="true" maxLength="1" name="OTP[0]" [(ngModel)] ="OTP[0]" (keyup)="otpController($event,otp2,'')">
          </ion-input>
          <ion-input class="x" #otp2 required="true" maxLength="1" name="OTP[1]" [(ngModel)]="OTP[1]" (keyup)="otpController($event,otp3,otp1)">
          </ion-input>
          <ion-input class="x" #otp3 required="true" maxLength="1" name="OTP[2]" [(ngModel)]="OTP[2]"  (keyup)="otpController($event,otp4,otp2)">
          </ion-input>

          <ion-input class="x" #otp4 required="true" maxLength="1" name="OTP[3]" [(ngModel)]="OTP[3]"  (keyup)="otpController($event,otp5,otp3)">
          </ion-input>

          <ion-input class="x" #otp5  required="true" maxLength="1" name="OTP[4]" [(ngModel)]="OTP[4]" (keyup)="otpController($event,otp6,otp4)">
          </ion-input>

          <ion-input class="x" #otp6  required="true" maxLength="1" name="OTP[5]" [(ngModel)]="OTP[5]" (keyup)="otpController($event,'',otp5)">
          </ion-input>

        </ion-col>
      </ion-row>
    </div>

    <div>
        <ion-button class="loginButton" type="submit" expand="block" style="width: 70%"  [disabled]="isenabled">
            <ion-label>Login</ion-label><ion-icon name="log-in"></ion-icon>
        </ion-button>
    </div>
  </form>

</ion-content>
