#loginPage{
    .bottomImages{
        width: 100px;
        margin: 0px auto;
    }
  ion-input.fieldInput{
    --background: transparent;
    //display: block;
    border-radius: 3px !important;
    margin: 5px auto 20px;
    --box-shadow: none;
    border: 1px solid  #74CFB9;
    //width: 90%;
    //color: #008940;
  }
    ion-button.loginButton{
      border-radius: 4px !important;
      margin: 50px auto 0;
      width: 238px;
      height: 50px;
      left: 83px;
      top: 475px;
    }
    .pageForRegistration{
        text-align: center;
    }
    ion-button.registration{
        --background: #ea4335;
        width: 180px;
        display: block;
        border-radius: 100%;
        margin: 10px auto 0px;
    }

    .loginField{
        --border-radius: 12px;
        margin-top: 50px;
    }
    .regField{
        --border-radius: 12px;
        margin-top: 10px;
    }
  .registerText{
    color: #008940;
    cursor: pointer;
  }
  .labelText{
    color: #008940;
    cursor: pointer;
  }
  .alertMessage {
    width: 100%;
    height: 75px;
    position: absolute;
    background: #ea4335;
    font-size: 19px;
    text-align: center;
    margin-left: -17px;
    padding: 16px;
    margin-top: 20px;
  }
  .native-input.sc-ion-input-ios{
    background: #dedede;
    padding: 15px;

  }
  .native-input.sc-ion-input-ios {
    background: #000;
    border-radius: 50px;
  }
  .bottomIcon{
    --border-color: transparent;
    --background: transparent;
    bottom: 0px;
  }
}
.ionicButtonInput {
  border-radius: 24px;
  --background: #f5f2f2;
  border: 1px solid #febe4a;
  margin-bottom: 10px;
}
.x{
  display:inline-block;
  width:15%;
  height:50px;
  margin:10px;
  --background: transparent;
  border-radius: 3px !important;
  --box-shadow: none;
  border: 1px solid  #74CFB9;
}
