<ion-content class="ion-padding backgroundImage" id="loginPage">
    <div class="showbox" *ngIf="showing === true">
        <div class="loader"> <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
        </svg> </div>
    </div>
    <ion-item class="bottomIcon"><ion-img style="width: 70%; height:auto; margin: 0 auto; padding-bottom: 50px;padding-top: 20%"
                                          src="assets/img/logo.png"></ion-img></ion-item>

    <!--  <ion-img style="width: 70%; height:auto; padding-top: 30%;margin: 0 auto;" src="assets/img/AERP.png"></ion-img>-->
<!--<div *ngIf="message === true" class="alertMessage">Wrong Password, Username or Missing Connection!</div>-->
  <form>
      <div *ngIf="showOTPInput === false" style="--background: transparent;--highlight-color-valid:transparent,">
          <ion-label position="fixed" style="margin-bottom: 5px; color: slategray">
              Enter Valid Mobile No
          </ion-label>
          <ion-input class="fieldInput" [(ngModel)]="loginData.mobile" name="mobile" type="string"></ion-input>
        <div>
          <ion-button (click)="sendOtp()" class="loginButton" type="submit" expand="block" style="width: 50%"  [disabled]="isenabled">
            <ion-label>Send OTP</ion-label>
          </ion-button>
        </div>
      </div>
    <div *ngIf="showOTPInput === true">
      <ion-label position="fixed" style="margin-bottom: 5px; margin-left: 15px; color: slategray">
        Enter Your OTP code
      </ion-label>
      <ion-row >
        <ion-col>
          <ion-input class="x" #otp1 required="true" maxLength="1" name="OTP[0]" [(ngModel)] ="OTP[1]" >
          </ion-input>
          <ion-input class="x" #otp2 required="true" maxLength="1" name="OTP[1]" [(ngModel)]="OTP[2]">
          </ion-input>
          <ion-input class="x" #otp3 required="true" maxLength="1" name="OTP[2]" [(ngModel)]="OTP[3]" >
          </ion-input>

          <ion-input class="x" #otp4 required="true" maxLength="1" name="OTP[3]" [(ngModel)]="OTP[4]" >
          </ion-input>

          <ion-input class="x" #otp5  required="true" maxLength="1" name="OTP[4]" [(ngModel)]="OTP[5]">
          </ion-input>

        </ion-col>
      </ion-row>
      <div>Time left = <span id="timer"></span></div>

      <div>
        <ion-button (click)="tryAgain()" class="loginButton" type="submit"
                    expand="block" style="width: 50%; margin: 30px auto 0!important;"  [disabled]="isenabled">
          <ion-label>Try Again</ion-label>
        </ion-button>
        <ion-button (click)="doLogin()" class="loginButton" type="submit" expand="block"
                    style="width: 50%; margin: 30px auto 0!important;"  [disabled]="isenabled">
          <ion-label>Login</ion-label>
        </ion-button>
      </div>
    </div>

  </form>

</ion-content>
