.item-inner{
  border: none;
}
.headingItems{
  background: #008940;
  --background: #008940;
  height: 22%;
  --border: transparent;
  --border-color: transparent;
  padding-top: 5%;
  color: white;
  font-size: 20px;
  --font-weight: 500;
  box-shadow: none;
}
.submenuItems{
  font-size: 16px;
  color: black;
  padding: 0;
  margin: 0;
}
.submenuIonItem{
  --border-color: transparent;
  color: white;
  --box-shadow: none;
}
.submenuIonIcon{
  font-size: 16px;
  margin: 12px 12px 12px 0;
  color: #008940;
}
.subMenuLogout{
  --background: #008940;
  color: white;
  font-size: 16px;
}

.logOut {
  height: 18px;
  width: 18px;
  left: 176px;
  top: 749px;
  border-radius: 0;

}

.memberIcon {
  height: 10.000001907348633px;
  width: 22px;
  left: 1px;
  top: 7px;
  border-radius: 0px;
}
