<ion-split-pane contentId="home">
    <ion-menu menuId="home" contentId="home" type="overlay">

        <div class="showbox" *ngIf="showing === true">
            <div class="loader"> <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg> </div>
        </div>
            <ion-item class="headingItems">
                <img src="assets/img/missing-user.png" style="width: 55px;border-radius: 100%;margin-right: 15px;">
                <label class="productInboxName">
                    <h4 style="font-size: 18px">{{userName}}</h4>
                    <h6 style="font-size: 14px;color: #CCCCCC; margin-bottom: 0">
                        Designation: {{userRole}}</h6>
                    <h6 style="font-size: 14px;color: #CCCCCC; margin-top: 5px">
                        Supervisor: {{supervisor}}</h6></label>
            </ion-item>

        <ion-content scrollY="true">
            <ion-list style="padding: 0px">
                    <ion-menu-toggle auto-hide="false">
                        <ion-item [routerDirection]="'forward'" routerLink="/home/dashboard"  class="submenuIonItem">
                            <ion-icon slot="start" name="Home" class="submenuIonIcon"></ion-icon>
                            <ion-label class="submenuItems">
                                Home
                            </ion-label>
                        </ion-item>
                        <ion-item-divider style="min-height: 10px"></ion-item-divider>
                    </ion-menu-toggle>
              <ion-accordion-group>
                <ion-accordion value="colors" toggle-icon="arrow-down-circle">
                <ion-item slot="header">
                  <ion-label>Colors</ion-label>
                </ion-item>
                <ion-list slot="content">
                  <ion-item>
                    <ion-label>Red</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Green</ion-label>
                  </ion-item>
                  <ion-item>
                    <ion-label>Blue</ion-label>
                  </ion-item>
                </ion-list>
              </ion-accordion>
              </ion-accordion-group>
<!--                <ion-menu-toggle auto-hide="false">-->
                    <ion-accordion>
                      <ion-item slot="header" [routerDirection]="'forward'"  class="submenuIonItem"
                                toggle-icon="arrow-down-circle">
                        <img src="assets/icon/icons8_staff.png" class="submenuIonIcon">
                        <ion-label class="submenuItems">
                          Members
                        </ion-label>
                      </ion-item>
                      <ion-list slot="content" style="margin-left: 24px; padding: 0">
                          <ion-item [routerDirection]="'forward'" routerLink="/home/customers" class="submenuIonItem">
                            <ion-icon slot="start" name="people-circle-outline" class="submenuIonIcon"></ion-icon>
                            <ion-label class="submenuItems">
                              Affiliate Member
                            </ion-label>
                          </ion-item>
                        <!--<ion-menu-toggle auto-hide="false">
                          <ion-item [routerDirection]="'forward'"  class="submenuIonItem">
                            <ion-icon slot="start" name="people-circle-outline" class="submenuIonIcon"></ion-icon>
                            <ion-label class="submenuItems">
                              Associate Member
                            </ion-label>
                          </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                          <ion-item [routerDirection]="'forward'"  class="submenuIonItem">
                            <ion-icon slot="start" name="people-circle-outline" class="submenuIonIcon"></ion-icon>
                            <ion-label class="submenuItems">
                              International Member
                            </ion-label>
                          </ion-item>
                        </ion-menu-toggle>
                        <ion-menu-toggle auto-hide="false">
                          <ion-item [routerDirection]="'forward'"  class="submenuIonItem">
                            <ion-icon slot="start" name="people-circle-outline" class="submenuIonIcon"></ion-icon>
                            <ion-label class="submenuItems">
                              General Member
                            </ion-label>
                          </ion-item>
                        </ion-menu-toggle>-->
                      </ion-list>

                    </ion-accordion>

                  <ion-item-divider style="min-height: 5px"></ion-item-divider>
<!--                </ion-menu-toggle>-->
                <ion-menu-toggle auto-hide="false">
                    <ion-item [routerDirection]="'forward'" routerLink="/home/customers"  class="submenuIonItem">
                      <img src="assets/icon/icons8_gears.png" class="submenuIonIcon">
                        <ion-label class="submenuItems">
                          User Settings
                        </ion-label>
                    </ion-item>
                </ion-menu-toggle>

                <ion-item-divider style="min-height: 10px"></ion-item-divider>
            </ion-list>
        </ion-content>
        <ion-button expand="block" style="width: 70%; border-radius: 25px !important;
                    margin: 20px auto 0px;" (click)="gotoLogout()" class="subMenuLogout">
            <ion-label class="subMenuLogout">Logout</ion-label>
          <img src="assets/icon/icons8_gears.png" class="logOut">
        </ion-button>
    </ion-menu>
    <ion-router-outlet id="home"></ion-router-outlet>
</ion-split-pane>

